.main-container {
  margin-top: 7%;
}

.header-row {
  border: solid;
  background-color: #c7c7c7;
  text-align: center;
  margin-bottom: 4rem;
}

.file-upload-row {
  margin-top: 10rem;
}

.image-preview-row {
  margin-top: 10rem;
}

.upload-progress {
  margin: 2rem 0;
}

.sample-files {
  margin-top: 1rem;
}

.sample-file-button {
  margin: 0.5rem;
}

.ppe-detected-row {
  margin-top: 2rem;
  justify-content: center;
}
